.eMessage { color:red; font-style:italic; font-size:x-small; }

a {color:gray; text-decoration:none;}
a:link    {color:gray;}   /* 아직 방문하지 않은경우 */
a:visited {color:gray;}   /* 한번 이상 방문한 링크 처리 */
a:active  {color:yellow;}  /* 마우스로 클릭하는 순간 */
a:hover   {color:Maroon; font-weight:bold;} /* 마우스 링크 위 올려 놓았을때 */

#searchBar {
	color:DimGray ; font-family:돋움; font-size:14px;
	float: right;
}
